Repository BlackBoyZeus/gengaming, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gamegen-x/core-team, @gamegen-x/security-team, @gamegen-x/ml-team, @gamegen-x/model-reviewers, @gamegen-x/backend-team, @gamegen-x/platform-team, @gamegen-x/performance-team, @gamegen-x/frontend-team, @gamegen-x/devops-team, @gamegen-x/docs-team

Add public-samples/gengaming-tihmm8/src/backend/core/__init__.py
  src/backend/core/__init__.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/core/config.py
  src/backend/core/config.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/core/exceptions.py
  src/backend/core/exceptions.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/core/logging.py
  src/backend/core/logging.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/core/metrics.py
  src/backend/core/metrics.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/db/__init__.py
  src/backend/db/__init__.py
Owners: @gamegen-x/backend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/db/base.py
  src/backend/db/base.py
Owners: @gamegen-x/backend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/db/session.py
  src/backend/db/session.py
Owners: @gamegen-x/backend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/db/migrations/__init__.py
  src/backend/db/migrations/__init__.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/db/migrations/env.py
  src/backend/db/migrations/env.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/db/migrations/versions/.gitkeep
  src/backend/db/migrations/versions/.gitkeep
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/db/models/__init__.py
  src/backend/db/models/__init__.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/db/models/control.py
  src/backend/db/models/control.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/db/models/generation.py
  src/backend/db/models/generation.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/db/models/user.py
  src/backend/db/models/user.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/db/models/video.py
  src/backend/db/models/video.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/models/__init__.py
  src/backend/models/__init__.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/models/instructnet/__init__.py
  src/backend/models/instructnet/__init__.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/instructnet/config.py
  src/backend/models/instructnet/config.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/instructnet/control.py
  src/backend/models/instructnet/control.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/instructnet/fusion.py
  src/backend/models/instructnet/fusion.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/instructnet/modification.py
  src/backend/models/instructnet/modification.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/msdit/__init__.py
  src/backend/models/msdit/__init__.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/msdit/attention.py
  src/backend/models/msdit/attention.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/msdit/config.py
  src/backend/models/msdit/config.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/msdit/spatial.py
  src/backend/models/msdit/spatial.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/msdit/temporal.py
  src/backend/models/msdit/temporal.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/msdit/transformer.py
  src/backend/models/msdit/transformer.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/vae/__init__.py
  src/backend/models/vae/__init__.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/vae/config.py
  src/backend/models/vae/config.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/vae/decoder.py
  src/backend/models/vae/decoder.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/vae/encoder.py
  src/backend/models/vae/encoder.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/vae/spatial.py
  src/backend/models/vae/spatial.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/models/vae/temporal.py
  src/backend/models/vae/temporal.py
Owners: @gamegen-x/ml-team, @gamegen-x/model-reviewers

Add public-samples/gengaming-tihmm8/src/backend/scripts/__init__.py
  src/backend/scripts/__init__.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/scripts/benchmark.py
  src/backend/scripts/benchmark.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/scripts/export_models.py
  src/backend/scripts/export_models.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/scripts/train_instructnet.py
  src/backend/scripts/train_instructnet.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/scripts/train_msdit.py
  src/backend/scripts/train_msdit.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/scripts/train_vae.py
  src/backend/scripts/train_vae.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

.github/CODEOWNERS:

* @gamegen-x/core-team @gamegen-x/security-team

# ML Model Implementations
src/backend/models/vae/* @gamegen-x/ml-team @gamegen-x/model-reviewers
src/backend/models/msdit/* @gamegen-x/ml-team @gamegen-x/model-reviewers
src/backend/models/instructnet/* @gamegen-x/ml-team @gamegen-x/model-reviewers

# Backend Services and API
src/backend/api/* @gamegen-x/backend-team @gamegen-x/security-team
src/backend/core/* @gamegen-x/core-team @gamegen-x/security-team
src/backend/db/* @gamegen-x/backend-team @gamegen-x/security-team
src/backend/services/* @gamegen-x/backend-team @gamegen-x/security-team

# Authentication and Security
src/backend/auth/* @gamegen-x/security-team @gamegen-x/backend-team

# Platform-specific Utilities
src/backend/utils/freebsd.py @gamegen-x/platform-team @gamegen-x/security-team
src/backend/utils/gpu.py @gamegen-x/platform-team @gamegen-x/performance-team

# Frontend Web Application
src/web/* @gamegen-x/frontend-team @gamegen-x/security-team

# Infrastructure and DevOps
infrastructure/* @gamegen-x/devops-team @gamegen-x/security-team
.github/workflows/* @gamegen-x/devops-team @gamegen-x/security-team

# Security Tests and Documentation
tests/security/* @gamegen-x/security-team
docs/security/* @gamegen-x/security-team @gamegen-x/docs-team
