Repository BlackBoyZeus/gengaming, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gamegen-x/core-team, @gamegen-x/security-team, @gamegen-x/ml-team, @gamegen-x/model-reviewers, @gamegen-x/backend-team, @gamegen-x/platform-team, @gamegen-x/performance-team, @gamegen-x/frontend-team, @gamegen-x/devops-team, @gamegen-x/docs-team

Add public-samples/gengaming-tihmm8/src/backend/services/__init__.py
  src/backend/services/__init__.py
Owners: @gamegen-x/backend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/services/cache.py
  src/backend/services/cache.py
Owners: @gamegen-x/backend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/services/control.py
  src/backend/services/control.py
Owners: @gamegen-x/backend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/services/generation.py
  src/backend/services/generation.py
Owners: @gamegen-x/backend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/services/monitoring.py
  src/backend/services/monitoring.py
Owners: @gamegen-x/backend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/services/storage.py
  src/backend/services/storage.py
Owners: @gamegen-x/backend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/services/video.py
  src/backend/services/video.py
Owners: @gamegen-x/backend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/__init__.py
  src/backend/tests/__init__.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/conftest.py
  src/backend/tests/conftest.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/test_api/__init__.py
  src/backend/tests/test_api/__init__.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/test_api/test_control.py
  src/backend/tests/test_api/test_control.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/test_api/test_generation.py
  src/backend/tests/test_api/test_generation.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/test_api/test_websocket.py
  src/backend/tests/test_api/test_websocket.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/test_models/__init__.py
  src/backend/tests/test_models/__init__.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/test_models/test_instructnet.py
  src/backend/tests/test_models/test_instructnet.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/test_models/test_msdit.py
  src/backend/tests/test_models/test_msdit.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/test_models/test_vae.py
  src/backend/tests/test_models/test_vae.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/test_services/__init__.py
  src/backend/tests/test_services/__init__.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/test_services/test_control.py
  src/backend/tests/test_services/test_control.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/test_services/test_generation.py
  src/backend/tests/test_services/test_generation.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/tests/test_services/test_video.py
  src/backend/tests/test_services/test_video.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/utils/__init__.py
  src/backend/utils/__init__.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/utils/freebsd.py
  src/backend/utils/freebsd.py
Owners: @gamegen-x/platform-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/utils/gpu.py
  src/backend/utils/gpu.py
Owners: @gamegen-x/platform-team, @gamegen-x/performance-team

Add public-samples/gengaming-tihmm8/src/backend/utils/metrics.py
  src/backend/utils/metrics.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/utils/validation.py
  src/backend/utils/validation.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/backend/utils/video.py
  src/backend/utils/video.py
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/.env.example
  src/web/.env.example
Owners: @gamegen-x/frontend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/.eslintignore
  src/web/.eslintignore
Owners: @gamegen-x/frontend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @gamegen-x/frontend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/.prettierrc
  src/web/.prettierrc
Owners: @gamegen-x/frontend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/README.md
  src/web/README.md
Owners: @gamegen-x/frontend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/index.html
  src/web/index.html
Owners: @gamegen-x/frontend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @gamegen-x/frontend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/package.json
  src/web/package.json
Owners: @gamegen-x/frontend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @gamegen-x/frontend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @gamegen-x/frontend-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @gamegen-x/core-team, @gamegen-x/security-team

Add public-samples/gengaming-tihmm8/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @gamegen-x/core-team, @gamegen-x/security-team

.github/CODEOWNERS:

* @gamegen-x/core-team @gamegen-x/security-team

# ML Model Implementations
src/backend/models/vae/* @gamegen-x/ml-team @gamegen-x/model-reviewers
src/backend/models/msdit/* @gamegen-x/ml-team @gamegen-x/model-reviewers
src/backend/models/instructnet/* @gamegen-x/ml-team @gamegen-x/model-reviewers

# Backend Services and API
src/backend/api/* @gamegen-x/backend-team @gamegen-x/security-team
src/backend/core/* @gamegen-x/core-team @gamegen-x/security-team
src/backend/db/* @gamegen-x/backend-team @gamegen-x/security-team
src/backend/services/* @gamegen-x/backend-team @gamegen-x/security-team

# Authentication and Security
src/backend/auth/* @gamegen-x/security-team @gamegen-x/backend-team

# Platform-specific Utilities
src/backend/utils/freebsd.py @gamegen-x/platform-team @gamegen-x/security-team
src/backend/utils/gpu.py @gamegen-x/platform-team @gamegen-x/performance-team

# Frontend Web Application
src/web/* @gamegen-x/frontend-team @gamegen-x/security-team

# Infrastructure and DevOps
infrastructure/* @gamegen-x/devops-team @gamegen-x/security-team
.github/workflows/* @gamegen-x/devops-team @gamegen-x/security-team

# Security Tests and Documentation
tests/security/* @gamegen-x/security-team
docs/security/* @gamegen-x/security-team @gamegen-x/docs-team
